# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.tar

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
#Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# =========================
# Custom folder
# =========================

/node_modules/*
/sql/temp/*

# ignore files in folder foo
sql/temp/*
# but keep the folder
!sql/temp/.keep